# code: language=ansible

# Set of tasks for creating performing a Trilio for Kubernetes Restore
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Perform Restore
  tags: ['restore', 'smoketest']
  block:
    - name: Execute Continuous Restore Preparation Tasks
      ansible.builtin.include_tasks: "trilio_kubernetes_continuous_restore_kubeconfig.yaml"
      when:
        - trilio_kubernetes_create_restore | bool
        - trilio_kubernetes_restore_type == "cr"
        - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'


    - name: Execute Restore from Snapshot (External Auth)
      ansible.builtin.include_tasks: "trilio_kubernetes_create_restore_snapshot.yaml"
      when:
        - trilio_kubernetes_create_restore | bool
        - trilio_kubernetes_restore_type == 'snapshot'
        - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'

    - name: Execute Restore Tasks
      ansible.builtin.include_tasks: "trilio_kubernetes_create_restore_kubeconfig.yaml"
      when:
        - trilio_kubernetes_create_restore | bool
        - trilio_kubernetes_restore_type != 'snapshot'
        - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'

    - name: Execute Restore Tasks (OpenShift Auth)
      ansible.builtin.include_tasks: "trilio_kubernetes_create_restore_password.yaml"
      tags: ['backup', 'smoketest']
      when:
        - trilio_kubernetes_distro == 'openshift' and trilio_kubernetes_auth_type == 'password'
        - trilio_kubernetes_create_restore | bool
